/** Minimal Reset & Style **/
body {
	background: url('img/bg_body.png');
}
h1 {
	text-align: center;
	margin: 50px auto;
}
h2 {
	text-align: center;
	font-size: 1em;
	margin-top: 30px;
}
	h2 a {
		color: #666;
		text-decoration: none;
		font-family: sans-serif;
		font-weight: normal;
		border: 1px solid;
		padding: 5px;
		border-radius: 3px;
		background: #cacaca;
	}
	h2 a:hover {
		color: #cacaca;
		background: #666;
	}
ul {
	padding-left: 0;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-left: 5px;
}
li:first-child {
	margin-left: 0;
}

/** Style for Css picto **/
.svg .picto {
	background: url('img/sprite-picto.svg');
}
.picto {
	background: url('img/sprite-picto.png');
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}
	.picto-rss {
		background-position: 0 0 !important;
	}
	.picto-rss:hover {
		background-position: -50px 0 !important;
	}
	.picto-twitter {
		background-position: 0 -50px !important;
	}
	.picto-twitter:hover {
		background-position: -50px -50px !important;
	}
	.picto-facebook {
		background-position: 0 -100px !important;
	}
	.picto-facebook:hover {
		background-position: -50px -100px !important;
	}
